// Colors
$charcoal-grey: #5e6266;

// Navigation colors
$nav-background: $charcoal-grey;
$nav-text-color: white;
$nav-link-color: #66b3ff;

//Clock variables
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;
